<div class="mx-auto" id="resources-content">
    <div class="section p-2">
        <div class="title ">Resources</div>
        <div class="content">
            <div class="row ">
                <div class="col-xl-4 pt-4" *ngFor="let r of resources">
                    <div class="rs">
                        <a href="{{r.url}}" target="_blank" rel="noopener noreferrer">
                            <img src="assets/img/resources/{{r.img}}" class="unselectable">
                            <div class=" mt-2 mx-1">
                                <div class="name">
                                    {{r.name}}
                                </div>
                                <div class="description">
                                    {{r.description}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>