<div class="mx-auto p-2" id="resources-content">
    <div class="d-flex align-items-center justify-content-between  header">
        <div class="title">Resources</div>
        <div class="t-resources">{{le}} resources found</div>
    </div>
    <div class="mt-2 d-flex align-items-center flex-wrap justify-content-between mx-1 filter-row">
        <div class="category-filter-active">{{this.getCategoryName(id).name}}</div>
        <div class="d-flex align-items-center flex-wrap category-filter">
            <div class="category py-1 px-2 m-1" *ngFor="let c of categories" (click)="filterByCategory(c.id)">
                {{c.name}}
            </div>
        </div>
    </div>
    <hr />
    <div class="content">
        <div class="mb-1 d-flex align-items-center justify-content-between">
            <div class="category-filter-active mobile-version mx-2">{{this.getCategoryName(id).name}}</div>
            <div class="t-resources mobile-version">{{le}} resources found</div>
        </div>
        <div class="row ">
            <div class="col-xl-4 pt-4" *ngFor="let r of resources | resourceFilter:id; ">
                <div class="rs">
                    <a href="{{r.url}}" target="_blank" rel="noopener noreferrer">
                        <div class="position-relative">
                            <img src="{{r.img}}" class="unselectable" loading="lazy">
                            <span
                                class="position-absolute end-0 bottom-0 px-3 py-2 subject">{{this.getCategoryName(r.category).name}}</span>
                        </div>

                        <div class=" mt-2 mx-1">
                            <div class="name">
                                {{r.name}}
                            </div>
                            <div class="description">
                                {{r.description}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>