<div class="mx-auto p-2" id="resources-content">
    <!-- Header Section -->
    <div class="header">
        <div class="title">{{text.data[0]}}</div>
        <div class="t-resources">{{le}} {{text.data[1]}}</div>
        <div class="category-filter-mobile py-1 px-2" (click)="showResources()">
            <span>{{text.data[2]}}</span>
            <i class="fas fa-angle-down ms-2"></i>
        </div>
    </div>

    <div class="mt-2 mx-1 filter-row ">
        <div class="category-filter-active">{{this.getCategoryName(id).name}}</div>
        <div class="category-filter">
            <div class="d-flex align-items-center" id="category-container">
                <div class="category py-1 px-2 m-1" *ngFor="let c of categories.data" (click)="filterByCategory(c.id)">
                    {{c.name}}
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- Viewer Selector -->
    <div id="viewer-selector">
        <div class="viewer-icon " (click)="changeViewer('list')">
            <i class="fas fa-list"></i>
        </div>
        <div class="ms-3 viewer-icon " (click)="changeViewer('card')">
            <i class="fas fa-square"></i>
        </div>
    </div>

    <div class="content">
        <div class="mb-1 d-flex align-items-center justify-content-between">
            <div class="category-filter-active mobile-version mx-2">{{this.getCategoryName(id).name}}</div>
            <div class="t-resources mobile-version">{{le}} {{text.data[1]}}</div>
        </div>

        <div class="list-viewer pt-4" *ngIf="viewerSelected == 'list'; else cardBlock">

            <a href="{{r.url}}" target="_blank" rel="noopener noreferrer"
                *ngFor="let r of resources.data | resourceFilter:id ; ">
                <div class="row my-4 py-1 px-2 rs">
                    <div class="col-4">
                        <div class=" name d-flex align-items-center"> <img src="{{r.img}}" class="unselectable me-3"
                                loading="lazy"> {{r.name}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="description ">
                            {{r.description}}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="subject "> #<span> {{this.getCategoryName(r.category).name}}</span></div>
                    </div>
                </div>
            </a>


        </div>



        <ng-template #cardBlock>
            <div class="card-viewer">

                <div class="row m-0 p-0 ">
                    <div class="col-xl-4 pt-4" *ngFor="let r of resources.data | resourceFilter:id ; ">
                        <div class="rs">

                            <a href="{{r.url}}" target="_blank" rel="noopener noreferrer">
                                <div class="subject text-start mb-2">
                                    #<span> {{this.getCategoryName(r.category).name}}</span>
                                </div>
                                <div class="position-relative">
                                    <img src="{{r.img}}" class="unselectable" loading="lazy">
                                    <!-- <span class="position-absolute end-0 bottom-0 px-3 py-2 subject">
                                {{this.getCategoryName(r.category).name}}
                            </span> -->
                                </div>

                                <div class=" mt-2 mx-1">
                                    <div class="name">
                                        {{r.name}}
                                    </div>
                                    <div class="description">
                                        {{r.description}}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>








    </div>
</div>