<div class="mx-auto" id="blog-content">
    <div class="section p-2">
        <div class="title mb-2"><span>Latest Posts</span></div>
        <div class="content ">
            <div class="row">
                <div class="col-xl-4 pt-4">
                    <a [routerLink]="['/blogv']">
                        <app-bl></app-bl>
                    </a>
                </div>
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <hr>
    </div>
    <div class="section p-2">
        <div class="title mb-2"><span>All Posts</span></div>
        <div class="content ">
            <div class="row">
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
                <div class="col-xl-4 pt-4">
                    <app-bl></app-bl>
                </div>
            </div>
        </div>
    </div>
</div>