<div class="mx-auto" id="blog-content">
    <div class="section p-2">
        <div class="title mb-2"><span>Latest Posts</span></div>
        <div class="content ">
            <div class="row">
                <div class="col-xl-4 pt-4" *ngFor="let b of latestblogs">
                    <a [routerLink]="['/blog', b.id]">
                        <app-bl [bl]=b></app-bl>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="my-4">
        <hr>
    </div>
    <div class="section p-2">
        <div class="title mb-2"><span>All Posts</span></div>
        <div class="content ">
            <div class="row">
                <div class="col-xl-4 pt-4" *ngFor="let b of allblogs">
                    <a [routerLink]="['/blog', b.id]">
                        <app-bl [bl]=b></app-bl>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>