// GLOBAL
*:not(i) {
    font-family: "Solway", serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

//DESKTOP FORMAT NAVBAR STYLE
#desktop-menu {
    .active {
        background-color: var(--primary-color);
        color: var(--white-color) !important;
        border-radius: 0.4rem;
        padding: 0.5rem;
        &:hover {
            background-color: var(--tertiary-color);
        }
    }

    ul {
        li {
            a {
                color: var(--primary-color);

                &.text {
                    font-size: 1.8rem;
                }
                &.text:hover {
                    color: var(--tertiary-color);
                }
                &.icon:hover {
                    color: var(--tertiary-color);
                }
            }
        }
    }
}

//MOBILE FORMAT NAVBAR STYLE
#mobile-menu {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    height: 8vh;
    border-top: 4px solid var(--tertiary-color);
    .active {
        background-color: var(--tertiary-color);
        color: var(--white-color) !important;
    }
    div {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: var(--white-color);

            .text-link {
                margin-left: 1rem;
                font-weight: 600;
            }
        }
    }
}

//MEDIA QUERYS
@media screen and (max-width: 768px) {
    #desktop-menu {
        display: none !important;
    }
    #mobile-menu {
        display: block;
    }
}
@media screen and (max-width: 550px) {
    #mobile-menu {
        div {
            a {
                font-size: 1.578rem;
                .text-link {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #mobile-menu {
        display: none;
    }
}
