<div class="row " id="contenido">
    <div class="col-lg-4 p-2 project">
        <div class="project-image position-relative">
            <img src="assets/attiapp.jpg" class="border border-3 border-warning">
            <a>
                <div class="hover-text unavailable position-absolute left-0 top-0"> <span
                        class="position-absolute start-50 top-50 translate-middle ">
                        No Disponible</span></div>
            </a>
        </div>
        <div class="mx-1 mt-3">
            <div class="project-header  d-flex align-items-center ">
                <span class="title ">Attia APP</span>
                <span class="type p-2 ms-auto">CRUD</span>
            </div>
            <div class="project-description p-2 mt-2">
                Attia APP es una aplicación web cuyo objetivo es gestionar los datos de una empresa desde cualquier
                parte,
                mediante una aplicación web.
            </div>
            <div class="project-technologies mt-1 d-flex align-items-center flex-wrap">
                <span class="tech p-1 m-1">Angular 12</span>
                <span class="tech p-1 m-1">TypeScript</span>
                <span class="tech p-1 m-1">JSON</span>
                <span class="tech p-1 m-1">PHP</span>
                <span class="tech p-1 m-1">mySQL</span>
                <span class="tech p-1 m-1">Bootstrap 5</span>
            </div>
            <a>
                <div class="btn w-100 mt-2 btn-proyecto unavailable">
                    No Disponible
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 p-2 project">
        <div class="project-image position-relative">
            <img src="assets/laocaonline.jpg" class="border border-3 border-danger">
            <a href="https://alxandruu.github.io/daw-laocaonline/">
                <div class="hover-text position-absolute left-0 top-0"> <span
                        class="position-absolute start-50 top-50 translate-middle ">
                        Abrir Proyecto</span></div>
            </a>
        </div>
        <div class="mx-1 mt-3">
            <div class="project-header  d-flex align-items-center ">
                <span class="title ">La Oca Online</span>
                <span class="type p-2 ms-auto">Juego</span>
            </div>
            <div class="project-description p-2 mt-2">
                La Oca Online es una adaptación en versión web del juego de mesa La Oca, con las reglas oficiales.
                Desarrollado usando solamente HTML, CSS y JavaScript,en sus versiones Vanilla.
            </div>
            <div class="project-technologies mt-1 d-flex align-items-center flex-wrap">
                <span class="tech p-1 m-1">HTML</span>
                <span class="tech p-1 m-1">CSS</span>
                <span class="tech p-1 m-1">JavaScript</span>
            </div>
            <a href="https://alxandruu.github.io/daw-laocaonline/">
                <div class="btn w-100 mt-2 btn-proyecto">
                    Abrir Proyecto
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 p-2 project">
        <div class="project-image position-relative">
            <img src="assets/minatoshop.jpg" class="border border-3 border-warning">
            <a href="https://alxandruu.github.io/daw-escaparatevirtual/">
                <div class="hover-text position-absolute left-0 top-0"> <span
                        class="position-absolute start-50 top-50 translate-middle ">
                        Abrir Proyecto</span></div>
            </a>
        </div>
        <div class="mx-1 mt-3">
            <div class="project-header  d-flex align-items-center ">
                <span class="title ">Minato Shop</span>
                <span class="type p-2 ms-auto">E-Commerce</span>
            </div>
            <div class="project-description p-2 mt-2">
                El objetivo de Minato Shop es diseñar un e-commerce usando BootStrap. Y también añadirle algunas
                funcionalidades como: agregar productos al carrito, iniciar sesion,...
            </div>
            <div class="project-technologies mt-1 d-flex align-items-center flex-wrap">
                <span class="tech p-1 m-1">HTML</span>
                <span class="tech p-1 m-1">CSS</span>
                <span class="tech p-1 m-1">JavaScript</span>
                <span class="tech p-1 m-1">JSON</span>
                <span class="tech p-1 m-1">BootStrap 5</span>
            </div>
            <a href="https://alxandruu.github.io/daw-escaparatevirtual/">
                <div class="btn w-100 mt-2 btn-proyecto">
                    Abrir Proyecto
                </div>
            </a>
        </div>
    </div>
</div>