<div class="w-75 mx-auto">
    <div class="section p-2">
        <div class="title"><span class="pb-1">Big Projects</span></div>
        <div class="content my-4">
            <div class="row">
                <div class="col-xl-3" *ngFor="let p of big_projects">
                    <a [routerLink]="['/projects', p.id]" class="link">
                        <app-pr [pr]=p></app-pr>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="section border-top p-2">
        <div class="title"><span class="pb-1">Small Projects</span></div>
        <div class="content my-4">
            <div class="row">
                <div class="col-xl-3" *ngFor="let p of small_projects">
                    <a [routerLink]="['/projects', p.id]" class="link">
                        <app-pr [pr]=p></app-pr>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>