<div class="d-flex justify-content-between align-items-center py-3">
    <div class="d-flex ">
        <a id="logo" class="d-flex align-items-center p-0" href="">
            <span class="ms-2"><i class="fas fa-bed me-2"></i> Alexandru Botas</span>
        </a>
        <ul class="d-flex align-items-center p-0 m-0 ms-5" id="menu">
            <li><a [routerLink]="['/projects']" class="text">Projects</a></li>
            <li><a href="#contact" class="text">Contact</a></li>
        </ul>
    </div>

    <ul class="d-flex align-items-center p-0 m-0" id="menu">
        <li><a href="https://github.com/alxandruu"><i class="fab fa-github me-2"></i><span>Github</span></a></li>
    </ul>

</div>