<div class="mx-auto" id="bl-view-content">
    <div class="breadcumb"><a [routerLink]="['/blog']">Blog</a> > Why do I prefer PWAs, rather than .EXE?</div>
    <div class="d-flex p-0 ms-0 mt-3 align-items-center justify-content-between">
        <div class="date ">
            09.12.2020
        </div>
        <div class="languages">
            <div class="p-2">Castellano</div>
            <div class="p-2">English</div>
        </div>
    </div>
    <div class="my-2">
        <hr>
    </div>
    <div class="content ">
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore alias blanditiis
            sint,
            suscipit rerum fugiat iste harum dolor odio, fuga maxime eaque qui modi dolore aperiam est quis cum?
            Quidem culpa cumque ab aperiam illum ipsam reiciendis fugiat mollitia eos repellendus, ipsa quasi optio
            assumenda quod dolorum repudiandae magni placeat tempora fugit impedit ad atque asperiores delectus earum!
            Id.
            A sequi tempora mollitia vel animi libero rerum officia quaerat dolorem, totam corrupti? Ab, unde? Nam
            minima
            eligendi officiis doloremque obcaecati omnis quam, inventore quibusdam voluptas ea veniam, reiciendis culpa!
            Itaque exercitationem aperiam soluta officiis tempora dolor rerum tenetur nostrum iste eum voluptate fugit
            accusamus distinctio perspiciatis magni, nulla officia! Nesciunt ut minima culpa. Ipsum facilis recusandae
            consequatur quo dolorum.
            Illum, architecto aliquid eius dolore recusandae placeat quaerat quasi fugit, consectetur, fugiat impedit?
            Ab
            repellendus qui in optio ut cupiditate nam neque temporibus voluptas, quod eligendi, doloribus, sapiente
            sunt
            aliquam.
            Cupiditate laborum rerum aliquid officiis aut deserunt, voluptatum odio asperiores rem error iste. Itaque
            cumque
            ullam id deleniti eaque similique, nesciunt recusandae distinctio quae labore officiis cupiditate dicta sunt
            non?
            Rerum omnis voluptate soluta quod perspiciatis totam quidem pariatur doloremque nemo porro ea sed
            repellendus
            officia, odit impedit aliquam alias expedita. Ut fugit soluta unde, corporis molestias tenetur perferendis
            voluptates.
            Voluptates recusandae, quaerat facilis fugit consectetur saepe praesentium aut est totam corporis, nam
            aperiam,
            id unde quam fugiat laudantium nesciunt assumenda optio enim error officiis ab quo maiores? Dolore, tempora!
            Numquam non necessitatibus accusantium possimus? Placeat illum molestiae, repellendus soluta veritatis odit
            labore, ea nostrum laboriosam ipsam corrupti deserunt repellat perferendis error ab similique laborum
            praesentium vel ad. Itaque, nam!
            Quam fuga veritatis hic natus aliquam. Corporis maxime, impedit tenetur adipisci sapiente sit dolorum est
            inventore, esse illum vel explicabo ex deserunt fugit optio placeat magnam? Quos deleniti sint non.</div>
        <div class="images my-4">
            <img src="assets/img/blog/proto.jpg">
        </div>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, error nostrum? Fugiat vitae
            dolorum aliquam corrupti, aliquid at exercitationem temporibus nihil optio rerum aperiam, commodi rem libero
            ab
            iusto natus?
            Doloribus, voluptatem quis consequuntur sit ipsa labore fuga neque iste inventore voluptate iure obcaecati,
            reprehenderit voluptatibus quaerat delectus vero. Quasi quae incidunt sint soluta eum ad quaerat deserunt
            sapiente rerum?
            Vitae maiores qui nulla voluptas unde mollitia, officia expedita inventore doloremque ut? Officia atque
            incidunt
            at cupiditate quis perferendis alias consequuntur doloremque, architecto tenetur, odio perspiciatis,
            necessitatibus sit? Expedita, debitis.
            Vel possimus tempore accusantium maiores saepe commodi necessitatibus ratione hic alias amet perspiciatis,
            ipsam
            autem officia, iure libero deleniti eaque suscipit sit, nesciunt odit natus tenetur nihil! Velit, recusandae
            vero.
            Omnis assumenda ad doloribus porro itaque eaque dolor facilis et? Aperiam alias ab id animi, sequi rem ullam
            quo
            repellat iure optio, eos, sed provident numquam qui recusandae atque itaque?
            Nisi asperiores possimus harum ducimus? Tempora molestiae quo quasi, eveniet nam quos eligendi accusantium
            quas,
            eos adipisci mollitia dolorem voluptates repudiandae. Ipsa sit aperiam neque esse ratione deleniti, est
            eius.
            Deserunt enim voluptate, iste hic dolore similique odit sunt. Nostrum ipsa doloribus ea amet dolor quidem
            minima
            sapiente nam eaque tempora deleniti in ullam vel, cupiditate saepe minus cum? Iste.</div>
        <div class="images my-4">
            <img src="assets/img/blog/proto.jpg">
        </div>
    </div>
</div>