<div class="mx-auto" id="bl-view-content">
    <div class="breadcumb"><a [routerLink]="['/blog']">Blog</a> > {{blog.title}}</div>
    <div class="d-flex p-0 ms-0 mt-5 align-items-center justify-content-between">
        <div class="date ">
            <!-- {{("0" + blog.date.getDate()).slice(-2)}}.{{("0" + (blog.date.getMonth() +
            1)).slice(-2)}}.{{blog.date.getFullYear()}} -->
        </div>

    </div>
    <div class="my-2">
        <hr>
    </div>
    <div class="title my-5">
        {{blog.title}}
    </div>
    <div class="content ">
        <div class="section" *ngFor="let s of blog.content">
            <div class="text" *ngIf="s.class=='text' else imageBlock">
                {{s.text}}
            </div>
            <ng-template #imageBlock>
                <div class="image my-4" *ngIf="s.class=='image' else headerBlock">
                    <img src="assets/img/blog/{{s.text}}" class="unselectable" loading="lazy">
                </div>
                <ng-template #headerBlock>
                    <div class="h-text mt-4 mb-2" *ngIf="s.class=='header'">
                      {{s.text}}
                    </div>
                </ng-template>
            </ng-template>

        </div>

    </div>
</div>