<div class="row" id="projects-ensemble">

    <div class="col-lg-4">

        <div class="project">
            <div class="links mb-2">
                <div class="unavailable">No Disponible</div>

            </div>
            <div class="image">
                <img src="assets/attiapp.jpg" alt="" width="100%" height="200px">
            </div>
            <div class="mx-2 mb-2">
                <div class="title">
                    Attia APP
                </div>
                <div class="description mb-2">
                    Aplicación web en la que se puede gestionar los datos de una empresa. Cada usuario puede
                    configurarse su
                    perfil (cambiando la contraseña, la imágen de perfil,...). Diferentes roles de acceso con distantas
                    funcionalidades. Un inicio de sesion seguro.
                </div>
                <div class="techs d-flex flex-wrap">
                    <span>#Angular</span>
                    <span>#PHP</span>
                    <span>#mySQL</span>
                    <span>#TypeScript</span>
                    <span>#JSON</span>
                    <span>#SCSS</span>
                    <span>#Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="project">
            <div class="links mb-2">
                <a href="https://alxandruu.github.io/daw-laocaonline/"><i class="fas fa-link"></i></a>
                <a href="https://github.com/alxandruu/daw-laocaonline"><i class="fab fa-github"></i></a>
            </div>
            <div class="image">
                <img src="assets/laocaonline.jpg" width="100%" height="200px">
            </div>
            <div class="mx-2 mb-2">
                <div class="title">
                    La Oca Online
                </div>
                <div class="description mb-2">
                    Version Online del juego de la Oca con las casillas especiales y diferente diseño. Se pueden jugar
                    máximo de 2 jugadores.
                </div>
                <div class="techs d-flex flex-wrap">
                    <span>#HTML</span>
                    <span>#CSS</span>
                    <span>#JavaScript</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="project">
            <div class="links mb-2">
                <a href="https://alxandruu.github.io/daw-escaparatevirtual/"><i class="fas fa-link"></i></a>
                <a href="https://github.com/alxandruu/daw-escaparatevirtual"><i class="fab fa-github"></i></a>
            </div>
            <div class="image">
                <img src="assets/minatoshop.jpg" width="100%" height="200px">
            </div>
            <div class="mx-2 mb-2">
                <div class="title">
                    Minato Shop
                </div>
                <div class="description mb-2">
                    Prototipo de Tienda Online (e-commerce) de Ropa estilo minimalista. Hasta ahora funcionan el carrito
                    y el inicio de sesión.<br> Las credenciales para iniciar sesion son: demo@gmail.com - Hola1
                </div>
                <div class="techs d-flex flex-wrap">
                    <span>#HTML</span>
                    <span>#CSS</span>
                    <span>#JavaScript</span>
                    <span>#Bootstrap</span>
                    <span>#JSON</span>
                </div>
            </div>
        </div>
    </div>

</div>