a {
    text-decoration: none;
}

// Projects Styles
#projects-ensemble {
    .project {
        padding: 0.5rem;
        border-radius: 15px;
        box-shadow: var(--box-shadow) 0px 5px 15px;
        height: 100%;
        .project-header {
            font-size: 2.1rem;

            border-bottom: 2px dotted var(--primary-color);
            .title {
                font-weight: bold;
                color: var(--primary-color);
                font-family: "Gemunu Libre", sans-serif;
            }
            .links {
                text-align: center;
                a {
                    color: var(--primary-color);

                    &:hover {
                        color: var(--tertiary-color);
                    }
                    i {
                    }
                }
                a.unavailable {
                    color: var(--danger-color);
                    &:hover {
                        color: var(--danger-hover-color);
                        cursor: pointer;
                    }
                }

                a + a {
                    margin-left: 1rem;
                }
            }
        }

        .image {
            img {
                border-radius: 10px;
            }
        }

        .description {
            font-size: 0.9rem;
            color: var(--primary-color);
        }
        .techs {
            font-size: 0.9rem;
            color: var(--danger-color);
            font-weight: bold;

            span {
                margin: 0.1rem;
            }
        }
    }
}

//Media Querys
@media screen and (max-width: 991.5px) {
    #projects-ensemble {
        & > div + div {
            margin-top: 1rem;
        }
    }
}
