<div class="row" id="projects-ensemble">
    <div class="col-lg-4" *ngFor="let p of projectsData">
        <div class="project">
            <div class="links mb-2">
                <a href="{{p.url_view}}" *ngIf="p.url_view!=''; else unavailableViewBlock"><i class="fas fa-link"></i></a>
                <a href="{{p.url_code}}" *ngIf="p.url_code!=''; else unavailableCodeBlock"><i class="fab fa-github"></i></a>
                <ng-template #unavailableViewBlock><a class="unavailable"><i class="fas fa-link"></i></a></ng-template>
                <ng-template #unavailableCodeBlock><a class="unavailable"><i class="fab fa-github"></i></a></ng-template>
            </div>
            <div class="image">
                <img src="assets/{{p.img_url}}" alt="" width="100%" height="200px">
            </div>
            <div class="mx-2 mb-2">
                <div class="title">
                    {{p.titulo}}
                </div>
                <div class="description mb-2">
                    {{p.descripcion}}
                </div>
                <div class="techs d-flex flex-wrap">
                    <span *ngFor="let t of p.techs">#{{t}}</span>
                </div>
            </div>
        </div>
    </div>
</div>