<div class="row" id="projects-ensemble">
    <div class="col-lg-4 p-2" *ngFor="let p of projectsData">
        <div class="project border">
            <div class="d-flex align-items-center justify-content-between project-header">
                <div class="title">
                    {{p.titulo}}
                </div>
                <div class="links mb-2">
                    <a href="{{p.url_view}}" *ngIf="p.url_view!=''; else unavailableViewBlock"><i
                            class="fas fa-link"></i></a>
                    <a href="{{p.url_code}}" *ngIf="p.url_code!=''; else unavailableCodeBlock"><i
                            class="fab fa-github"></i></a>
                    <ng-template #unavailableViewBlock><a class="unavailable"><i class="fas fa-link"></i></a>
                    </ng-template>
                    <ng-template #unavailableCodeBlock><a class="unavailable"><i class="fab fa-github"></i></a>
                    </ng-template>
                </div>
            </div>

            <div class="image my-2" *ngIf="p.img_url!=''">
                <img src="assets/img/projects/{{p.img_url}}" alt="" width="100%" height="200px" class="p-2">
            </div>

            <div class="description mb-2 ">
                {{p.descripcion}}
            </div>
            <div class="techs d-flex flex-wrap  my-1">
                <span *ngFor="let t of p.techs">#{{t}}</span>
            </div>

        </div>
    </div>
</div>