<div class="mx-auto" id="pr-view-content">
    <div class="breadcumb"><a [routerLink]="['/projects']">Projects</a> > {{project.name}}</div>
    <div class="description">
        {{project.description}}
    </div>
    <div class="details m-3">
        <div class="mt-2">
            <span class="title p-1">Website</span>
            <span class="ms-2"><a href="{{project.website}}" class="website-link"
                    *ngIf="project.website!='' else notdeployed "><span class="href">{{project.website}}</span><i
                        class="fas fa-link mx-2"></i><span class="href_name">{{project.name}}</span></a>
                <ng-template #notdeployed>
                    <span class="notdeployed">Not Deployed</span>
                </ng-template>
            </span>
        </div>
        <div class="mt-2">
            <span class="title p-1">Platform</span>
            <span class="ms-2 platform-group"><span *ngFor="let pl of project.platform">{{pl}}</span></span>
        </div>
        <div class="mt-2">
            <span class="title p-1">Stack</span>
            <span class="ms-2 stack-group"><span *ngFor="let st of project.stack">{{st}}</span></span>
        </div>
    </div>
    <div class="images mt-5">
        <div class="mt-4" *ngFor="let img of project.imgs">
            <img src="assets/img/projects/{{project.id}}/{{img}}" alt="Attiapp Image #1">
        </div>
    </div>
</div>