// Global
#pr-view-content {
    width: 50vw;
    opacity: 0;
    animation: slide-in 0.8s ease-in forwards;
    color: var(--dark-color);
}
a {
    text-decoration: none;
    color: #d17b0f;
    &:hover {
        color: #e8d33f;
        border-bottom: 1px solid #e8d33f;
    }
}
.notdeployed {
    color: #d7263d;
    font-weight: bold;
}

// Breadcumb
.breadcumb {
    font-size: 1.35rem;
}

// Description
.description::first-letter {
    margin-left: 0.75rem;
}

// Details
.details {
    font-size: 1.1rem;
    .title {
        background-color: var(--dark-color);
        color: #fff;
        border-radius: 5px;
    }
    .platform-group,
    .stack-group {
        span + span {
            &::before {
                content: " / ";
            }
        }
    }
    .website-link {
        .href_name {
            display: none;
        }
    }
}

// Preview Images
.images {
    & > div {
        img {
            width: 100%;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

//Media Queries
@media screen and (max-width: 767.5px) {
    #pr-view-content {
        width: 100%;
        padding: 0 1rem;
    }
}
@media screen and (max-width: 395.5px) {
    .website-link {
        .href {
            display: none;
        }
        .href_name {
            display: inline-block !important;
        }
    }
}
