<!-- <div class="py-5" id="app">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="my-3" id="router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="border-bottom  position-fixed start-0 top-0 w-100" id="nav">
  <div class="w-75 mx-auto">
    <app-nav></app-nav>
  </div>
</div>
<div class="pt-5 mt-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div id="footer" class="text-center my-5">
  © <span>Alexandru Botas - 2021</span>
</div>