<!-- Navigation Menu -->
<div class="position-fixed start-0 top-0 w-100" id="nav">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<!-- Information Container -->
<div class="pt-5 mt-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div id="footer" class=" my-5">
  <div class="text-center">

    <span class="lang-selector" (click)="changeLang('es')">Español</span>
    <span class="lang-selector" (click)="changeLang('en')">English</span>
  </div>
  <div class="text-center mt-2">© <span>Alexandru Botas - {{year}}</span></div>

</div>