<!-- Navigation Menu -->
<div class="position-fixed start-0 top-0 w-100 d-flex align-items-center" id="nav">
  <div class="container">
    <app-nav></app-nav>
  </div>
  <div class="theme-switcher unselectable pe-4">
    <div class="switcher light text-center" (click)="switchTheme('dark')">
      <span class="text">Light</span> <i class="fas fa-sun ms-2"></i>
    </div>
    <div class="switcher dark text-center" (click)="switchTheme('light')">
      <span class="text">Dark</span> <i class="fas fa-moon ms-2"></i>
    </div>
  </div>
</div>

<!-- Information Container -->
<div class="pt-5 mt-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div id="footer" class="mt-5 mb-4 px-4 d-flex align-items-center flex-column">
  <div class="text-center" id="lang-selection">
    <span class="lang-selector" (click)="changeLang('es')">Español</span>
    <span class="lang-selector" (click)="changeLang('en')">English</span>
  </div>
  <div class="theme-switcher unselectable ">
    <div class="switcher mobile light text-center " (click)="switchTheme('dark')">
      <span class="text">Light</span> <i class="fas fa-sun ms-2"></i>
    </div>
    <div class="switcher mobile dark text-center" (click)="switchTheme('light')">
      <span class="text">Dark</span> <i class="fas fa-moon ms-2"></i>
    </div>
  </div>
  <div>© <span>Alexandru Botas - {{year}}</span></div>
</div>

<!-- Scroll Top Button -->
<div class="scrollTopButton position-fixed bottom-0 end-0 me-3 mb-4" (click)="scrollTop()">
  <i class="fas fa-chevron-up"></i>
</div>