<div class="section">
  <div class="section-header d-flex align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-three-dots"
      viewBox="0 0 16 16">
      <path
        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
    </svg>
    <span class="title ms-2">Experiencia Laboral</span>
  </div>
  <div class="section-content mx-4 my-2">

    <div class="experience-box mb-4">
      <div class="info">
        <div class="time p-1">04.2020 - 06.2021 - Madrid, España</div>
        <div class="name p-2"><span>Programador PHP </span><a href="https://www.avanzadi.com/">Avanzadi Digital
            Solutions</a></div>
      </div>
      <div class="details  mx-4 mt-2">
        <ul>
          <li>Resolver problemas e implementar nuevas funciones en distintos proyectos con lenguaje PHP y
            mySQL</li>
          <li>Programación en PHP con CodeIgniter</li>
          <li>Gestión de bases de datos en mySQL</li>
          <li>Manejo y Programar con Prestashop</li>
          <li>Despliegue en local con Docker</li>
          <li>Control de versiones con Git</li>
        </ul>
        <div class="knglds mx-3">
          Tecnologías Utilizadas:
          <div class="d-flex flex-wrap m-1 mt-2">
            <div class="knglds-box m-1">PHP</div>
            <div class="knglds-box m-1">JavaScript</div>
            <div class="knglds-box m-1">AJAX</div>
            <div class="knglds-box m-1">Prestashop</div>
            <div class="knglds-box m-1">Git</div>
            <div class="knglds-box m-1">mySQL</div>
            <div class="knglds-box m-1">Docker</div>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-box ">
      <div class="info">
        <div class="time p-1">04.2019 - 06.2019 - Madrid, España</div>
        <div class="name p-2"><span>Helpdesk / Soporte Técnico </span><a href="https://www.aslam.es/">ASLAM NEW
            IT</a></div>
      </div>
      <div class="details  mx-4 mt-2">
        <ul>
          <li>Resolucion de incidencias mediante vTiger.</li>
          <li>Conteo de Inventariado en Everis IT y en local.</li>
          <li>Gestión de Windows Server con Active Directory.</li>
          <li>Gestión Copias de Seguridad.</li>
          <li>Office 365.</li>
          <li>Crear la nueva página web de la empresa mediante Wordpress, y desplegarla en IONOS.</li>
        </ul>
        <div class="knglds mx-3">
          Tecnologías Utilizadas:
          <div class="d-flex flex-wrap m-1 mt-2">
            <div class="knglds-box m-1">Office 365</div>
            <div class="knglds-box m-1">Windows</div>
            <div class="knglds-box m-1">Active Directory</div>
            <div class="knglds-box m-1">IONOS</div>
            <div class="knglds-box m-1">XAMPP</div>
            <div class="knglds-box m-1">Windows Server</div>
            <div class="knglds-box m-1">WordPress</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section mt-5" id="education">
  <div class="section-header d-flex align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-three-dots"
      viewBox="0 0 16 16">
      <path
        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
    </svg>
    <span class="title ms-2 ">Educación y Formación</span>
  </div>
  <div class="section-content mx-4 my-2">
    <div class="education-box mb-4">
      <div class="info">
        <div class="time p-1">09.2019 - 06.2021 - Madrid, España</div>
        <div class="name p-2"><span>Técnico Superior en Desarrollo de Aplicaciones Web </span><a
            href="http://www.iespalomeras.net/">I.E.S Palomeras-Vallecas</a></div>
      </div>
      <div class="details  mx-4 mt-2">
        <div >Competencias Aprendidas: </div>
        <div class="knglds ">
          <div class="d-flex flex-wrap m-1">
            <div class="knglds-box m-1">Angular 12</div>
            <div class="knglds-box m-1">Laravel</div>
            <div class="knglds-box m-1">JSON</div>
            <div class="knglds-box m-1">jQuery</div>
            <div class="knglds-box m-1">JavaScript</div>
            <div class="knglds-box m-1">TypeScript</div>
            <div class="knglds-box m-1">Java</div>
            <div class="knglds-box m-1">PHP</div>
            <div class="knglds-box m-1">mySQL</div>
            <div class="knglds-box m-1">XML</div>
            <div class="knglds-box m-1">XSL</div>
            <div class="knglds-box m-1">Bootstrap 5</div>
            <div class="knglds-box m-1">Git</div>
            <div class="knglds-box m-1">XAMPP</div>
            <div class="knglds-box m-1">Laragon</div>
          </div>
        </div>
      </div>
    </div>
    <div class="education-box">
      <div class="info">
        <div class="time p-1">09.2017 - 06.2019 - Madrid, España</div>
        <div class="name p-2"><span>Técnico Superior en Desarrollo de Aplicaciones Web </span><a
            href="http://sagrado-corazon.net/">Sagrado Corazón A.P.P</a></div>
      </div>
      <div class="details mx-4 mt-2">
        <div >Competencias Aprendidas: </div>
        <div class="knglds">
          <div class="d-flex flex-wrap m-1">
            <div class="knglds-box m-1">Windows 10</div>
            <div class="knglds-box m-1">Windows Server</div>
            <div class="knglds-box m-1">Ubuntu</div>
            <div class="knglds-box m-1">Ubuntu Server</div>
            <div class="knglds-box m-1">Virtualización (VirtualBox, VMware)</div>
            <div class="knglds-box m-1">Redes informáticas</div>
            <div class="knglds-box m-1">Office</div>
            <div class="knglds-box m-1">Active Directory</div>
            <div class="knglds-box m-1">Apache</div>
            <div class="knglds-box m-1">Wordpress</div>
         
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>