a {
    text-decoration: none;
}
// WORK-EXPERIENCE
.experience-box {
    .info {
        .time {
            font-weight: bold;
            font-size: 14px;
        }
        .name {
            background-color: var(--primary-color);
            color: #f4f1de;
            span {
                font-weight: bold;
            }

            font-size: 1.1rem;
            a {
                color: #f4f1de;
                &:hover {
                    border-bottom: 1px dotted #f4f1de;
                }
            }
            a::before {
                content: " - ";
            }
        }
    }

    & + & {
        border-top: 5px solid #f4f1de;
    }
}
.knglds {
    .knglds-box {
        background-color: var(--white-color);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        padding: 0.343rem;
        border-radius: 0.3rem;
    }
}

// EDUCATION
.education-box {
    .info {
        .time {
            font-weight: bold;
            font-size: 14px;
        }
        .name {
            background-color: #f4f1de;
            color: var(--primary-color);
            span {
                font-weight: bold;
            }

            font-size: 1.1rem;
            a {
                color: var(--primary-color);
                &:hover {
                    border-bottom: 1px dotted var(--primary-color);
                }
            }
            a::before {
                content: " - ";
            }
        }
    }

    & + & {
        border-top: 5px solid #f4f1de;
    }
}
.section {
    .section-header {
        .title {
            font-size: 1.5rem;
            font-family: "Solway", serif;
        }
        border-bottom: 5px solid var(--primary-color);
        padding-bottom: 0.6rem;
    }
    .section-content {
        .education-box + .education-box {
            border-top: 5px solid #f4f1de;
        }
    }
}
@media screen and (min-width: 992px) {
    .section-content {
        & > div {
            .knglds {
                .knglds-box {
                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--white-color);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .section {
        .section-header {
            .title {
                font-size: 1.3rem;
            }
        }
    }
    .section-content {
        margin-left: 0px !important;
        margin-right: 0px !important;
        & > div {
            .info {
                .time {
                    font-size: 12px;
                }
                .name {
                    font-size: 0.9rem;
                    a {
                        font-size: 0.8rem;
                    }
                }
            }
            .details {
                font-size: 0.8rem;
                margin-left: 0 !important;
                margin-right: 0 !important;
                ul {
                    font-size: 0.776rem;
                    li + li {
                        margin-top: 12px;
                    }
                }
            }
            .knglds {
                font-size: 0.8rem;
                .knglds-box {
                    font-size: 0.776rem;
                }
            }
        }
    }
}
