* {
    font-size: 1.15rem;
    color: var(--dark-color);
}
a {
    text-decoration: none;
}

#logo {
    span {
        font-weight: bold;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
    &:hover {
        span {
            transform: rotateX(-180deg);
            transition: transform 0.6s ease;
        }
    }
}
#menu {
    li {
        a {
            &:hover {
                cursor: pointer;
                &.text {
                    color: var(--dark-color);
                    border-bottom: 1px solid var(--dark-color);
                }
            }
        }
    }
    li + li {
        margin-left: 1rem;
    }
}


#mobile_menu {
    display: none;
   
    .hambBtn {
        transform: scale(1);
        transition: transform 0.3s ease;
        i {
            font-size: 1.5rem;
        }
        &.active {
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
    }
    ul {
      
        background-color: var(--nav-hamb-background-color);
        border-radius: 10px;
        position: absolute;
        width: 200px;
        left: -175px;
        top: 50px;
        z-index: 1;
        display: none;
        li {
            width: 100%;
            text-align: center;
            * {
                color: var(--nav-hamb-color);
            }
            margin: 1.5rem 0;

            a {
                &:active {
                    border-bottom: 2px solid var(--nav-hamb-color);
                }
            }
        }
        &.show {
            display: block;
        }
        .language-selection {
            .lang-selector {
                font-size: 0.85rem;
            }
        }
       
    }
}

@media screen and (max-width: 994.5px) {
    #div {
        width: 100% !important;
    }
}

@media screen and (max-width: 767.5px) {
    #mobile_menu {
        display: block;
    }
    #menu {
        display: none !important;
    }
}
