* {
    font-size: 1.15rem;
    color: var(--dark-color);
}
a {
    text-decoration: none;
}

#logo {
    span {
        font-weight: bold;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
    &:hover {
        span {
            transform: rotateX(-180deg);
            transition: transform 0.6s ease;
        }
    }
}
#menu {
    li {
        a {
            &:hover {
                cursor: pointer;
                &.text {
                    color: var(--dark-color);
                    border-bottom: 1px solid var(--dark-color);
                }
            }
        }
    }
    li + li {
        margin-left: 1rem;
    }
}

#mobile_menu {
    display: none;

    .hambBtn {
        transform: scale(0.7);
        background-color: transparent;
        .line {
            display: block;
            width: 45px;
            height: 5px;
            background-color: var(--dark-color);
            border-radius: 4px;
            transition: transform 0.5s;
            opacity: 0.25s;
        }
        .line + .line {
            margin-top: 10px;
        }
        &.active {
            .line:nth-child(1) {
                transform: translateY(15px) rotate(45deg);
            }
            .line:nth-child(2) {
                opacity: 0;
            }
            .line:nth-child(3) {
                transform: translateY(-15px) rotate(-45deg);
            }
        }
    }
    ul {
        background-color: var(--nav-hamb-background-color);
        box-shadow: rgba(var(--dark-color-rgb), 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        position: absolute;
        width: 200px;
        left: -175px;
        top: 40px;
        z-index: 1;
        display: none;
        li {
            width: 100%;
            text-align: center;
            * {
                color: var(--nav-hamb-color);
            }
            margin: 1.5rem 0;

            a {
                &:active {
                    border-bottom: 2px solid var(--nav-hamb-color);
                }
            }
        }
        &.show {
            display: block;
        }
        .language-selection {
            .lang-selector {
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (max-width: 994.5px) {
    #div {
    }
}

@media screen and (max-width: 767.5px) {
    #mobile_menu {
        display: block;
    }
    #menu {
        display: none !important;
    }
}
