<div class="text-center mx-auto" id="home">
    <div id="header" class="d-flex align-items-center ">
        <img src="assets/img/portfolio.jpg" alt="Profile Image" height="125" width="125"
            class="border rounded-circle">
        <div id="header-information" class="ms-3">
            <div class="title">Gabriel Alexandru Botas</div>
            <div class="subtitle">Full-Stack Developer</div>
        </div>
    </div>
    <div id="portfolio">
        <div class="row">
            <div class="col-xl-6 ">
                <div id="about_me">
                    <div class="title">About Me</div>
                    <div class="text mt-2">
                        <div>
                            Alexandru is a 21 years old boy who likes IT world. He has recently finished his
                            studies
                            in Web Programming, where he learnt how to develop web applications.
                        </div>
                        <div class="mt-2">
                            He went from Romania to Spain when he was 4 years old. During his life he moved from one
                            place to
                            another meeting different people and discovering awesome places. He discovered programming
                            during a
                            class where he printed a "Hello World!" with Python,
                            in that moment he realized that he could create anything and wanted to learn more.
                        </div>
                        <div class="mt-2">
                            Recently, he discovered the world of economy through cryptocurrency, blockchain, stocks and
                            passive
                            income; and he learnt the meaning of money, how to obtain money through different passive
                            income,
                            ETFs,...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div id="hobbies">
                    <div class="title">
                        Hobbies
                    </div>
                    <div class="text mt-2">
                        <span class="ms-2">Art</span>, Music, Videogames, Films, Travel
                    </div>
                </div>
                <div id="history">
                    <div class="title">
                        History
                    </div>
                    <div class="text mt-2">
                        <div class="section">
                            <span class="year">2000</span>
                            <span>Born in Galați, Romania</span>
                        </div>
                        <div class="section">
                            <span class="year">2004</span>
                            <span>Migrate to Spain</span>
                        </div>
                        <div class="section">
                            <span class="year">2019</span>
                            <span>Completed an Intermediated Degree in Microcomputer Systems and Networks</span>
                        </div>
                        <div class="section">
                            <span class="year">2019</span>
                            <span>Worked for 3 months in a Technological Consultancy as Technical Support</span>
                        </div>
                        <div class="section">
                            <span class="year">2021</span>
                            <span>Completed a Higher Degree in Web Developing</span>
                        </div>
                        <div class="section">
                            <span class="year">2021</span>
                            <span>Worked for 3 months in a Technological Consultancy as a PHP Programmer with
                                Prestashop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="contact">
            <div class="col-xl-12 ">
                <div id="social_media">
                    <div class="title">Social Media / Contact Me</div>
                    <div class=" d-flex flex-wrap mt-2">
                        <a href="https://www.instagram.com/alxandru_/" class="m-1 px-2 py-1"><i
                                class="fab fa-instagram me-2"></i><span>@alxandru_</span></a>
                        <a href="https://www.linkedin.com/in/gabriel-alexandru-botas-795103204/"
                            class="m-1 px-2 py-1"><i class="fab fa-linkedin me-2"></i><span>Gabriel Alexandru
                                Botas</span></a>
                        <a href="mailto:bgabrielalexandru@gmail.com" class="m-1 px-2 py-1"><i
                                class="fas fa-envelope-square me-2"></i><span>bgabrielalexandru@gmail.com</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>