a {
    text-decoration: none;
    color: #d17b0f;
    &:hover {
        color: #e8d33f;
        border-bottom: 1px solid #e8d33f;
    }
}
.breadcumb {
    font-size: 1.35rem;
}
#pr-view-content {
    width: 50%;
}
.description::first-letter {
    margin-left: 1rem;
    font-size: 1.1rem;
}
.details {
    .title {
        background-color: var(--dark-color);
        color: #fff;
        border-radius: 5px;
    }
    font-size: 1.1rem;
}
.images {
    & > div {
        img {
            width: 100%;
            border-radius: 15px;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}
@media screen and (max-width: 767.5px) {
    #pr-view-content {
        width: 100%;
        padding: 0 1rem;
    }
}
