<div class="w-50 mx-auto">
    <div class="breadcumb"><a [routerLink]="['/projects']">Projects</a> > Attia APP</div>
    <div class="description">
        Web Application where you can manage all the data of a business,
        with graphics
    </div>
    <div class="details mx-4 mt-4">
        <div class="mt-2">
            <span class="title p-1">Website</span>
            <span class="ms-2"><a href="https://github.com/alxandruu/attiapp">https://github.com/alxandruu/attiapp <i
                        class="fas fa-location-arrow ms-2"></i></a></span>
        </div>
        <div class="mt-2">
            <span class="title p-1">Platform</span>
            <span class="ms-2">Web Application</span>
        </div>
        <div class="mt-2">
            <span class="title p-1">Stack</span>
            <span class="ms-2">Angular, PHP, mySQL</span>
        </div>
    </div>
    <div class="images mt-5">
        <div class="mt-4">
            <img src="assets/img/projects/attiapp.jpg" alt="Attiapp Image #1">
        </div>
        <div class="mt-4">
            <img src="assets/img/projects/attiapp.jpg" alt="Attiapp Image #1">
        </div>
        <div class="mt-4">
            <img src="assets/img/projects/attiapp.jpg" alt="Attiapp Image #1">
        </div>
    </div>
</div>