.blog {
    color: var(--dark-color);
    & > div {
        transform: scale(1);
        transition: transform 0.3s ease;
    }
    .date-and-type {
        font-size: 0.8rem;
        font-weight: bold;

        .type {
            color: var(--secondary-color);
            span {
                margin-left: 2px;
                letter-spacing: 2px;
            }
        }
    }

    .new-blog {
        font-weight: bold;
        color: rgba($color: #cc2936, $alpha: 1);
        border-radius: 10px;
        font-size: 0.9rem;
    }
    .image {
        width: 100%;

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        img {
            width: 100%;
            object-fit: cover;
            height: 150px;
            border-radius: 10px;
            @media screen and (max-width: 1199.5px) {
                height: 200px;
            }
        }
        .subject {
            background-color: rgba($color: #cc2936, $alpha: 0.8);
            color: #fff;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            font-size: 0.9rem;
            text-transform: capitalize;
        }
    }
    .title {
        text-align: left;
        font-weight: bold;
        text-transform: capitalize;
        @media screen and (min-width: 1200px) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    .description {
        font-size: 0.9rem;
        @media screen and (min-width: 1200px) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
    @media screen and (min-width: 1200px) {
        &:hover {
            cursor: pointer;
            & > div {
                transform: scale(0.9);
                transition: transform 0.4s ease;
            }
        }
    }
}

@media screen and (max-width: 1199.5px) {
    .blog {
        &:active {
            & > div {
                transform: scale(0.9);
                transition: transform 0.4s ease;
            }
        }
        img {
            height: 200px;
        }
    }
}
