<div class="blog position-relative">
    <div>
        <div class="date mb-1 ms-2">09.12.2020</div>
        <div class="image mb-3 position-relative">
            <img src="assets/img/blog/proto.jpg" alt="Bog Image Proto">
            <span class="position-absolute end-0 bottom-0 px-3 py-2 subject">Tech</span>
        </div>
        <div class="title mb-1">Why do I prefer PWAs, rather than .EXE?</div>
        <div class="description">PWAs are web applications that can be installed on any device with internet access,
            while the .EXE are applications that have to be compatible with the device in terms of hardware.</div>
    </div>
</div>