<div class="blog position-relative">
    <div>
        <div class="mb-1 mx-2 d-flex align-items-center ">
            <div class="date">{{("0" + bl.date.getDate()).slice(-2)}}.{{("0" + (bl.date.getMonth() +
                1)).slice(-2)}}.{{bl.date.getFullYear()}}</div>
            <div *ngIf="this.isNew()" class="new-blog p-1 ms-1">New</div>
        </div>
        <div class="image mb-3 position-relative">
            <img src="assets/img/blog/{{bl.image}}" alt="Bog Image Proto" class="unselectable" loading="lazy">
            <span class="position-absolute end-0 bottom-0 px-3 py-2 subject">{{bl.type}}</span>
        </div>
        <div class="title mb-1">{{bl.title}}</div>
        <div class="description">{{bl.description}}</div>
    </div>
</div>