/* You can add global styles to this file, and also import other style files */
:root {
    // --dark-color: #2a2d34;
    // --light-color: #f2fbe0;
    --dark-color: #948882;
    --dark-color-rgb: 148,136,130;
    --light-color: #1E1C23;
    --body-background-color: #1E1C27;
    --nav-background-color: #1E1C23;
    --footer-color: #4B4240;
}
::selection {
    color: var(--light-color);
    background: var(--dark-color);
}

// Scrollbar Style
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(var(--dark-color-rgb),  0.6);
    background-color: var(--light-color);
}


.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: var(--body-background-color) !important;
}

* {
    text-align: justify;
    &:not(i) {
        font-family: "Lato", sans-serif;
    }
}

ul {
    list-style: none;
}

@keyframes slide-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
