/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Solway&display=swap");
:root {
    --primary-color: #034c3c;
    --secondary-color: #c1292e;
    --tertiary-color: #3ab795;
    --fourth-color: #f0f2a6;
    --white-color: #fff;
    --body-color: #fffffc;
    --box-shadow: rgba(3, 76, 60, 0.35);
    --danger-color: #c1292e;
    --danger-hover-color: #f0151c;
}
#body {
    background-color: var(--body-color) !important;
}

*::-moz-selection {
    background-color: #17bebb;
    color: white;
}
*::selection {
    background-color: #17bebb;
    color: white;
}
* {
    text-align: justify;
}
