/* You can add global styles to this file, and also import other style files */
:root {
    --dark-color: #2a2d34;
    --light-color: #f2fbe0;
}
body {
    background-color: rgba($color: #f2fbe0, $alpha: 0.6) !important;
}

* {
    text-align: justify;
    &:not(i) {
        font-family: "Lato", sans-serif;
    }
}

ul {
    list-style: none;
}
